<!-- views/profile.ejs -->
<%- include('head', {}); %>

<body>
 
   
    <main role="main">
        
        <section role="region" class="coffee-order">
          <%= data %>
        
      </section>
       
    </main>
    <%- include('scripts', {}); %>
</body>
</html>