<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" name="description" content="coffee order" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Reiterable Coffee</title>
    <link
      href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Lato|Roboto|Baloo+Tamma"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css"
      rel="stylesheet"
    />
    <link href="/main.css" rel="stylesheet" type="text/css" />
    <script>
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware"];analytics.factory=function(e){return function(){var t=Array.prototype.slice.call(arguments);t.unshift(e);analytics.push(t);return analytics}};for(var e=0;e<analytics.methods.length;e++){var key=analytics.methods[e];analytics[key]=analytics.factory(key)}analytics.load=function(key,e){var t=document.createElement("script");t.type="text/javascript";t.async=!0;t.src="https://cdn.segment.com/analytics.js/v1/" + key + "/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);analytics._loadOptions=e};analytics._writeKey="aS6e07Fb2XXxrC27g1w8LFZXV1CxpESm";;analytics.SNIPPET_VERSION="4.15.3";
      analytics.load("aS6e07Fb2XXxrC27g1w8LFZXV1CxpESm");
      analytics.page();
      }}();
    </script>
  </head>


