<!-- views/profile.ejs -->
<%- include('head', {}); %>

<body>
    
    <main role="main">
        <header role="banner" class="page-header text-center">
            <a id="coffee-logo" href="/menu"><img id="coffee-header" src="../img/icon_header.png" alt="coffee Icon"></a>
            <h1 class="coffee-dash">Iterable Coffee</h1>
        </header>
       
        <section role="region" class="coffee-order">
          <h2>Welcome home!</h2>

        <section role="region" class="coffee-order">
          <h2>Menu</h2>
          <h3><li>Coffee</li></h3>
          <h3><li>Cappuccino</li></h3>
          <h3><li>Latte</li></h3>
          <h3><li>Mocha</li></h3>
        
      </section>
        <section role="region" class="coffee-order">
            <a href="/order" class="link-order"> Click Here to Order </a>
          
        </section>
     
        <footer role="contentinfo" id="dash-footer">  
            <a href="/logout">
                <i id="logout" class="fas fa-sign-out-alt"></i>
            </a>
        </footer>
    </main>
    <!-- <script>
      analytics.identify('SEGMENT001', {
        email: 'nam.ngo+segment@iterable.com',
        favoriteCafeBeverage: "mocha",
        firstName: "Bob",
        lastName: "Marley",
        interests: ["music", "surfing", "soccer"]

      });
      analytics.track('login successful', {
        event_source: 'Website'
      });
    </script> -->
  
    
    <%- include('scripts', {}); %>
</body>
</html>