<!-- views/profile.ejs -->
<%- include('head', {}); %>

<body>
    
    <main role="main">
        <header role="banner" class="page-header text-center">
            <a id="coffee-logo" href="/menu"><img id="coffee-header" src="../img/icon_header.png" alt="coffee Icon"></a>
            <h1 class="coffee-dash">Iterable Coffee</h1>
        </header>
       
        <section role="region" class="coffee-order">
          <h2>Welcome home!</h2>

        <section role="region" class="coffee-order">
          <h2>Menu</h2>
          <h3><li>Coffee</li></h3>
          <h3><li>Cappuccino</li></h3>
          <h3><li>Latte</li></h3>
          <h3><li>Mocha</li></h3>
        
      </section>
        <section role="region" class="coffee-order">
            <a href="/order" class="link-order"> Click Here to Order </a>
          
        </section>
     
        <footer role="contentinfo" id="dash-footer">  
            <a href="/logout">
                <i id="logout" class="fas fa-sign-out-alt"></i>
            </a>
        </footer>
    </main>
    <script>
      analytics.identify('SEGMENT001', {
        email: 'nam.ngo+segment@iterable.com',
        favoriteCafeBeverage: "mocha",
        firstName: "Bob",
        lastName: "Marley",
        interests: ["music", "surfing", "soccer"]

      });
      analytics.track('login successful', {
        event_source: 'Website'
      });
    </script>
    <script src="scripts.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/@iterable/web-sdk/index.js"></script>
    <script>

      (() => {

        const { setEmail, logout } = window['@iterable/web-sdk'].initialize(
          ITERABLE_API_KEY,
          ({ email }) => {
            return window.axios
              .post(
                'https://jwt-generator.stg-itbl.co/generate',
                {
                  exp_minutes: 15,
                  email,
                  jwt_secret: ITERABLE_JWT_SECRET
                },
                {
                  headers: {
                    'Content-Type': 'application/json'
                  }
                }
              )
              .then((response) => {
                console.log("token", response.data.token)
                return response.data.token;
              }).catch(error => {
                console.log(error);
              });;
          }
        );

        const { request, pauseMessageStream, resumeMessageStream } = window['@iterable/web-sdk'].getInAppMessages(
          {
            count: 1,
            packageName: ITERABLE_WEB_IDENTIFIER,
            handleLinks: 'open-all-new-tab',
          },
          true
        );

        setEmail(ITERABLE_EMAIL)
          .then(() => {
            request()
            .then(response => {console.log(response)})
          })
          .catch(() => { })
      })()
    </script>
    <%- include('scripts', {}); %>
</body>
</html>