<%- include('head', {}); %>

    <body>

        <main role="main" id="main-index">

            <section role="region" class="landing-content">

            </section>
            <footer role="contentinfo" class="landing-auth">

                <div id="auth-btns"></div>
                <a href="/login" class="btn">Log in</a>
                <a href="/signup" class="btn signup">Sign up</a>
                </div>
                <div id="auth-btns"></div>

                <h2>Trigger Event</h2>

                <form id="js-event-button">
                    <input type="submit" value="Trigger Event">
                </form>
                </div>
                <div id="copyright">
                    <hr />
                    <a href="https://github.com/namninja" target="_blank"><i class="fab fa-github"> Nam Ninja</i></a>
                </div>
            </footer>
        </main>
        <script>
            analytics.identify("web1", {
                email: "nam.ngo+web@iterable.com",
                favoriteCafeBeverage: "latte",
                firstName: "Boba",
                lastName: "Fett",
            });

            function segmentEvent() {
                var myHeaders = new Headers();
                myHeaders.append("api_key", "c344ad8eb2864ca4a8ef681bceb82468");
                myHeaders.append("Content-Type", "application/json");

                var raw = JSON.stringify({
                    "email": "nam.ngo+web@iterable.com",
                    "eventName": "webAppEventTriggered",
                    "dataFields": {
                        "likesToDance": true,
                        "likesToPaint": true
                    }
                });

                var requestOptions = {
                    method: 'POST',
                    headers: myHeaders,
                    body: raw,
                    redirect: 'follow'
                };

                fetch("https://api.iterable.com/api/events/track\n", requestOptions)
                    .then(response => response.text())
                    .then(result => console.log(result))
                    .catch(error => console.log('error', error));
                /* Event code Start */
                analytics.track('SegmentEventTriggered', {
                    event_source: 'Website'
                });

                /* Event code End */

                //Do not delete the this
                $("#js-event-button").append("<p>Success! Segment Event Triggered</p>");
            }


            $('#js-event-button').submit(event => {
                event.preventDefault();
                segmentEvent();
            });

        </script>
        <script>

            mParticle.logEvent(
                'mparticle_test',
                mParticle.EventType.Navigation,
                {}
            );
        </script>
        <%- include('scripts', {}); %>
    </body>

    </html>