<%- include('head', {}); %>

  <body>

    <main role="main" id="main-index">

      <section role="region" class="landing-content">
        <form name="iterable_optin"
          action="//links.iterable.com/lists/publicAddSubscriberForm?publicIdString=8072823e-66a1-4b8b-b739-472ad2b6ad19"
          target="_blank" method="POST" class="email">
          <!-- <input type="text" name="email" size="22" onfocus="if(this.value===this.defaultValue){this.value='';}" onblur="if(this.value===''){this.value=this.defaultValue;}" value="Enter your email"> -->
          <input type="hidden" id="email" name="email" value="nam.ngo+hidden@iterable.com">
          <input type="submit" value="Submit">
        </form>
      </section>
      <footer role="contentinfo" class="landing-auth">

        <div id="auth-btns"></div>
        <a href="/login" class="btn">Log in</a>
        <a href="/signup" class="btn signup">Sign up</a>
        </div>
        <div id="auth-btns"></div>
        <h2>MParticle Login</h2>

        <form id="js-mpartli-button">
          <input type="submit" value="Trigger Event">
        </form>
        <h2>Trigger Event</h2>

        <form id="js-event-button">
          <input type="submit" value="Trigger Event">
        </form>
       
        </div>
        <div id="copyright">
          <hr />
          <a href="https://github.com/namninja" target="_blank">
            <i class="fab fa-github">
              Nam Ninja</i>
          </a>
        </div>
      </footer>
    </main>

    <script>
      let campaignId = ""
      let templateId = ""

      // analytics.identify('SEGMENTCAR002', {
      //   favoriteCafeBeverage: "mocha",
      //   firstName: "Peter",
      //   lastName: "Parkedcar",
      //   interests: ["music", "surfing", "soccer"]

      // });
      analytics.track('login successful', {
        event_source: 'Website',
        email: "nam.ngo+parkedcar2@iterable.com",
      });
      function getAllQueryParameters() {
        const queryString = window.location.search.slice(1);
        const params = new URLSearchParams(queryString);
        const queryParams = {};

        // Iterate over all parameters and store them in the object
        for (const [key, value] of params.entries()) {
          queryParams[key] = decodeURIComponent(value);
        }

        return queryParams;
      }

      // Get all query parameters from the URL
      const allParameters = getAllQueryParameters();

      // Output the values (you can do whatever you need with them)
      console.log('All Query Parameters:', allParameters);

      // Access specific parameters like campaignId and templateId
      campaignId = allParameters['campaignId'];
      templateId = allParameters['templateId'];

      // Output specific parameter values
      console.log('Campaign ID:', campaignId);
      console.log('Template ID:', templateId);

      function segmentEvent() {
        var myHeaders = new Headers();
        myHeaders.append("api_key", "c344ad8eb2864ca4a8ef681bceb82468");
        myHeaders.append("Content-Type", "application/json");

        var raw = JSON.stringify({
          "email": "nam.ngo+web@iterable.com",
          "eventName": "webAppEventTriggered",
          "dataFields": {
            "likesToDance": true,
            "likesToPaint": true,
            "campaignId": campaignId,
            "templateId": templateId
          }
        });

        var requestOptions = {
          method: 'POST',
          headers: myHeaders,
          body: raw,
          redirect: 'follow'
        };

        fetch("https://api.iterable.com/api/events/track\n", requestOptions).then(response => response.text()).then(result => console.log(result)).catch(error => console.log('error', error));
        /* Event code Start */
        analytics.track('SegmentEventTriggered', {
          "event_source": 'Website',
          "campaignId": campaignId,
          "templateId": templateId


        });

        /* Event code End */

        // Do not delete the this
        console.log("Success! Segment Event Triggered");
      }
      var identityRequest = {

        userIdentities: {

          email: 'nam.ngo+mpart3@iterable.com',

          customerid: 'mpart3'

        }

      };

      var identityCallback = function (result) {

        if (result.httpCode == 200) {

          if (result.getUser()) {

            result.getUser().setUserAttribute('isLoyaltyMember', true);

            result.getUser().setUserAttribute('LoyaltyMemberSince', '2023-09-26 12:13:35');

            result.getUser().setUserAttribute('firstName', 'Scott');

            result.getUser().setUserAttribute('lastName', 'Lang');
          }
        }
      }
      $('#js-mpartli-button').submit(event => {
        event.preventDefault();

        mParticle.Identity.login(identityRequest, identityCallback);
      })


      $('#js-event-button').submit(event => {
        event.preventDefault();
        segmentEvent();
        // 1. Create the product

        var product1 = mParticle.eCommerce.createProduct(
          'Iced Mocha', // Name
          'mocha-iced-large', // SKU
          8, // Price
          2 // Quantity
        );
        var product2 = mParticle.eCommerce.createProduct(
          'Caramel Macchiato',
          'cm-hot-large',
          8.25,
          1
        );
        var product3 = mParticle.eCommerce.createProduct(
          'Cappuccino',
          'cap-hot-medium',
          6.25,
          1
        );

        // 2. Summarize the transaction
        let oid = 'ORD-' + (Math.floor(Math.random() * 9000000) + 1000000);
        var transactionAttributes = {

          Id: oid,
          Revenue: 30.50,
          Tax: 30
        };

        // 3. Log the purchase event (optional custom attributes an custom flags depending on your );
        var customAttributes = null; // if not passing any custom attributes, pass null
        var customFlags = null; // if not passing any custom flags, pass null
        mParticle.eCommerce.logProductAction(
          mParticle.ProductActionType.Purchase,
          [product1, product2, product3],
          customAttributes,
          customFlags,
          transactionAttributes);

      });
    </script>
    <script>

      mParticle.logEvent('mparticle_test', mParticle.EventType.Navigation, {});
    </script>
    <%- include('scripts', {}); %>
  </body>

  </html>