<%- include('head', {}); %>
<script type="text/javascript">
(function () {
  var b = document.createElement('script'); b.type = 'text/javascript'; b.async = true;
  b.src = 'https://js.iterable.com/analytics.js';
  var a = document.getElementsByTagName('script')[0]; a.parentNode.insertBefore(b, a);
})();
</script>
<script type="text/javascript" src="https://js.iterable.com/iterableUtils.js"/>
<body>
   
    <main role="main" id="main-index">
        
        <section role="region" class="landing-content">
        
        </section>
        <footer role="contentinfo" class="landing-auth">
            
            <div id="auth-btns"></div>
            <a href="/login" class="btn">Log in</a>
            <a href="/signup" class="btn signup">Sign up</a>
            </div>
            <div id="copyright">
                <hr />
                <a href="https://github.com/namninja" target="_blank"><i class="fab fa-github"> Nam Ninja</i></a>
            </div>
        </footer>
    </main>
    <%- include('scripts', {}); %>
</body>
</html>