<!-- views/profile.ejs -->
<%- include('head', {}); %>

<body>
    
    

    <main role="main">
        <header role="banner" class="page-header text-center">
            <a id="coffee-logo" href="http://ineedpizza.com/"><img id="coffee-header" src="../img/icon_header.png" alt="coffee Icon"></a>
            <h1 class="coffee-dash">Iterable Coffee</h1>
        </header>
       
        <section role="region" class="coffee-order">
          <h2>Menu</h2>
          <h3><li>Coffee</li></h3>
          <h3><li>Cappuccino</li></h3>
          <h3><li>Latte</li></h3>
          <h3><li>Mocha</li></h3>
        
      </section>
       
     
        <footer role="contentinfo" id="dash-footer" >  
            
            <a id="coffee-logo" href="http://ineedpizza.com/">
                <h7>Return to Login</h7>
            </a>
            
        </footer>
    </main>
    <%- include('scripts', {}); %>
</body>
</html>